.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #eee;
  border-top: 2px solid #229;
  box-shadow: 0px -13px 24px 9px rgb(15 16 48 / 40%);
  padding: 0 20px;
  color: #333;
}

.playBtnWrapper {
  display: flex;
  justify-content: center;
}

.playBtn {
  position: relative;
  top: -15px;
}
