.measure {
  border-radius: 10px;
  background: #f2f2f2;
  display: inline-flex;
  gap: 16px;
  border: 2px solid transparent;
  scroll-margin: 50px;
  position: relative;
  color: #1a1a1a;
}

.measureBeats {
  display: flex;
}

.measureActive {
  border-color: lime;
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;

  > svg {
    fill: #777;
    display: inline-block;
  }

  &:hover {
    > svg {
      fill: red;
    }
  }
}

.metre {
  margin: 8px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 24px;
}

.metreSelect {
  font-size: 20px;
  font-weight: 900;
}
