@import '../../../styles/variables';

.measure {
  border-radius: 10px;
  background: $light-gray;
  display: inline-flex;
  gap: 8px;
  padding: 8px 24px 8px 8px;
  border: 2px solid transparent;
  scroll-margin: 50px;
  position: relative;
  color: $text-color;
}

.measureBeats {
  display: flex;
  margin: 8px 0;
  gap: 32px;
}

.measureActive {
  background: lighten($accent, 47);
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;

  > svg {
    fill: #777;
    display: inline-block;
  }

  &:hover {
    > svg {
      fill: red;
    }
  }
}

.metre {
  margin: 8px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 24px;
}

.metreSelect {
  font-size: 20px;
  font-weight: 900;
  font-family: 'Work Sans', sans-serif;
}
