.note {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid transparent;
  position: relative;
}

.noteActive {
  &:after {
    content: '';
    position: absolute;

    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    border-radius: 4px;

    //z-index: -1;
    //background: #00d0ff;
    z-index: 0;
    background: #00d0ff99;
  }
}
